*{
    margin:0;
    box-sizing: border-box;
}
.nav_container{
    width:100%;
    background-color:purple;
    padding:5px 20px;
}
.no_dot{
    list-style-type: none;
    display: flex;
    gap:20px;
    font-size:32px;
    
}
a{
    text-decoration: none;
    color:whitesmoke;
}
 nav .active{
    text-decoration: none;
    font-weight: bold;
}